@import 'colours'

@-moz-document domain("reddit.com")
  .RES-keyNav-activeElement,
  .commentarea .RES-keyNav-activeElement .md
    background-color: $base02 !important
    ul li,
    li ul
      background-color: inherit !important
  .res-commentBoxes .thing.comment .comment
    background-color: $base03 !important
    .comment
      background-color: $base03 !important
      .comment
        background-color: $base03 !important
        .comment
          background-color: $base03 !important
          .comment
            background-color: $base03 !important
            .comment
              background-color: $base03 !important
              .comment
                background-color: $base03 !important
                .comment
                  background-color: $base03 !important
                  .comment
                    background-color: $base03 !important
  .listing-chooser
    display: none

@-moz-document domain("kat.cr")
  tr
    .even
      background-color: $base03 !important

@-moz-document domain("slack.com")
  .day_divider
    background-color: $base03 !important

@-moz-document domain("youtube.com")
  #masthead-positioner
    background-color: $base03 !important
  .ytp-play-progress
    background-color: $base01 !important
  .ytp-hover-progress
    background-color: $base02 !important
  .ytp-chrome-controls
    background-color: rgba($base02, .7) !important
    .ytp-button
      background-color: inherit !important
      &:hover
        background-color: $base02 !important
  .ytp-tooltip-text-wrapper,
  .ytp-tooltip-title
    background-color: transparent !important
  .ytp-tooltip-text
    background-color: rgba($base02, .7) !important
  // Youtube Annotation
  #movie_player-html5 .annotation
    background: $base02 !important
